[View in Colaboratory](https://colab.research.google.com/github/meaninginuse/work/blob/master/Pandas_Datareader%20(IEX).ipynb)

In [0]:
import numpy as np
import pandas as pd
import pandas_datareader as web
import datetime

In [0]:
start = datetime.datetime(2015, 1, 1)

In [0]:
end = datetime.datetime(2018, 1, 27)

In [0]:
f = web.DataReader('GOOG', 'iex', start, end)

In [65]:
f.tail()

               open     high      low    close   volume
date
2018-01-22  1137.49  1159.88  1135.11  1155.81  1617975
2018-01-23  1159.85  1171.63  1158.75  1169.97  1333056
2018-01-24  1177.33  1179.86  1161.05  1164.24  1416625
2018-01-25  1172.53  1175.94  1162.76  1170.37  1480540
2018-01-26  1175.08  1175.84  1158.11  1175.84  2018755